{%extends 'layout.html'%}

{%block body%}
<div class="container">
<h1 align="center">{{name}} Page</h1>
<p align="center">Welcome to this web app!</p>


<form method="POST" action="{{ url_for('actors_create') }}">
    <center>
    <H1>Add an Actor </H1> <br>
    Name <input type = "text" name= "name" /> <br>
    <input type = "submit">
    </center>
</form>

<br />

<form method="POST" action="{{ url_for('actors_delete') }}">
    <center>
    <H1>Remove an Actor</H1> <br>
    Name <input type = "text" name= "name" /> <br>
    <input type = "submit">
    </center>
</form>

<br />

<form method="POST" action="{{ url_for('actors_update') }}">
    <center>
    <H1>Update an Actor</H1> <br>
    Change Name From <input type = "text" name= "initialname" /> <br>
    Change Name To <input type = "text" name= "finalname" /> <br>    
    <input type = "submit">
    </center>
</form>


<p>This page will show you the actors in our database</p>
{% for i in info1 %}
<li><a>{{i[1]}}</a></li>  <!-- i.ID if used a dictionary instead of a list -->
{% endfor %}

</div>


{%endblock%}