{%extends 'layout.html'%}

{%block body%}
<div class="container"></div>
<h1 align="center">{{name}} Page</h1>
<p align="center">Welcome to this web app!</p>

<br><br>

<form method="POST" action="{{ url_for('actor_film_search') }}">
    <center>
    <H1>View actors in a film, or films starring an actor</H1>
    <label>Select a Film:</label>
    <select name= "filmname">
        <option >- Choose a Film -</option>
    {%for i in filmselection%}
        <option >{{ i[1] }}</option>
    {%endfor%}
    </select>
    <label>or, select an Actor:</label>
    <select name= "actorname">
        <option >- Choose an Actor -</option>
    {%for i in actorselection%}
        <option >{{ i[1] }}</option>
    {%endfor%}
    </select>
    <input type = "submit">
    </center>
</form>

<br><br>

<H2>{{actor}}</H2>
{% for i in filmchoice %}
<li><a>{{i[0]}}</a></li>  <!-- i.ID if used a dictionary instead of a list -->
{% endfor %}

<H2>{{film}}</H2>
{% for i in actorchoice %}
<li><a>{{i[0]}}</a></li>  <!-- i.ID if used a dictionary instead of a list -->
{% endfor %}

<br><br>

<form method="POST" action="{{ url_for('actor_film_associate') }}">
    <center>
    <H1>Associate a Film to an Actor</H1>
    <label>Associate a Film:</label>
    <select name= "filmname">
        <option >- Choose a Film -</option>
    {%for i in filmselection%}
        <option >{{ i[1] }}</option>
    {%endfor%}
    </select>
    <label>to an Actor:</label>
    <select name= "actorname">
        <option >- Choose an Actor -</option>
    {%for i in actorselection%}
        <option >{{ i[1] }}</option>
    {%endfor%}
    </select>
    <input type = "submit">
    </center>
</form>




</div>
{%endblock%}
